body {
    --color-title-h1: #2d3138;
    --color-text: #373c44;
    --color-blue: #0172ad;
    --color-grey: #8891a4;
    box-sizing: border-box;
}

/* ------------------ FONT-FAMILIS ------------------ */

.principal-font-family {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ----------------- COLOR TEXT --------------------- */

.color-text-title {
    color: var(--color-title-h1);
}

.color-text {
    color: var(--color-text);
}


/* ----------------- FLEX STYLES -------------------- */

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.aling-items-center {
    align-items: center;
}

.gap-20px {
    gap: 20px;
}

.gap-10px {
    gap: 10px;
}

/* --------------- WIDTH STYLES ------------------ */

.width-100-precent {
    width: 100%;
}

.max-width-1440px {
    max-width: 1440px;
}

.width-1_2em {
    width: 1.2em;
}

/* --------------- HEIGHT STYLES ----------------- */

.height-1_2em {
    height: 1.2em;
}

.height-100vh {
    height: 100vh;
}

/* -------------- PADDINGS STYLES --------------- */

.padding-0 {
    padding: 0;
}

.padding-15px-20px {
    padding: 15px 20px;
}


/* --------------- MARGIN BOTTOM ---------------- */

.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.margin-top-5px {
    margin-top: 5px;
}

.margin-right-0px {
    margin-right: 0px;
}

.margin-left-0px {
    margin-left: 0px;
}

/* -------------- BORDERS STYLES ---------------- */

.border-radius-5px {
    border-radius: 5px;
}

.border-none {
    border: none;
}

.border-none-focus:focus {
    border: 1px solid #fff;
}

.border-grey {
    border: 1px solid var(--color-grey);
}

/* ------------- OUTLINE STYLES ----------------- */

.outline-color-blue:focus {
    outline: 2px solid var(--color-blue);
}

.transition-outline {
    transition: outline .1s ease-in-out;
}

.outline-offset {
    outline-offset: -2px;
}

/* -------------- SCALE ----------------- */

